body {
  background: #FFF;
  font: 0.8em Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  left: -10px;
  width: 800px;
  
  margin: .5em 0;
  padding: 2px 10px;

  font-family: 'Cantarell', arial, serif;

  color: #FFF;
  background-color: #F33;
  background: -moz-linear-gradient(-90deg, #FFD0FF, #F33);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD0FF), to(#F33));
}

header, footer, section {
  display: block;
}