#!/usr/bin/make -f

CXX = g++
ACLOCAL = /usr/bin/aclocal-1.9
AUTOMAKE = /usr/bin/automake-1.9

LDFLAGS = `pkg-config --libs yandex-platform`
CXXFLAGS = `pkg-config --cflags yandex-platform`

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g -O0
	CXXFLAGS += -g -O0
else
#	CFLAGS += -O3 -DNDEBUG
#	CXXFLAGS += -O3 -DNDEBUG
	CFLAGS += -g -O2
	CXXFLAGS += -g -O2
endif

autogen: autogen-stamp

autogen-stamp:
	dh_testdir
	ACLOCAL="$(ACLOCAL)" AUTOMAKE="$(AUTOMAKE)" ./autogen.sh
	touch autogen-stamp

configure: configure-stamp

configure-stamp: autogen-stamp
	dh_testdir
	CXX="$(CXX)" LDFLAGS="$(LDFLAGS)" CXXFLAGS="$(CXXFLAGS)" ./configure \
		--prefix=/usr \
		--sysconfdir=/etc/xiva \
		--enable-maintainer-mode
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	$(MAKE) release=1
	$(MAKE) check
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-stamp
	-$(MAKE) distclean
	dh_clean 

tests: build
	dh_testdir
	$(MAKE) check

install: build tests
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_movefiles
	dh_installchangelogs 
	dh_installinit --no-start
	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -V
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch

.PHONY: build clean binary-arch binary install configure
